<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn FilePond-->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
     <!-- Filepond review  -->
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <!-- Resize image Filepond -->
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <!-- Cdn Filepond -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <!-- File encode filePond-->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <!-- Filepond review -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <!-- Config js of person -->
    <script defer src="/javascripts/fileUpload.js"></script>
    <title>Book eccommercy</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
    <%- include('../partials/errorMessage.ejs')%>
    <%-body%>
</body>
</html>